:root {
    --color-principal: #161616;
    --secundary-color: #7754A6;
    --white-color: #fff;
    --text-paragrafo: #161616;
    --text-titulo: #161616;
}

::-webkit-scrollbar {
    width: 4px; 
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #3e2a4f;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #7754A6; 
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #7754A6; 
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

html {
    background-color: #161616;
    font-family: "Sora", serif;
    scroll-behavior: smooth;
    color: #fff;
}

a {
    cursor: pointer;
    text-decoration: none; 
    color: inherit;
}

h1 {
    font-weight: 500;
}

h6 {
    font-weight: 300;
}

p {
    font-weight: 200;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-principal {
 background-color: #7754A6;
 color:#FFFFFF;
 padding: 10px 23px 10px 23px;
 font-size: 23px;
animation: piscar 1s infinite;
}
@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


/* Nav Bar */
#nav-bar {
    width: 100%;
    height: auto;
    background-color: #161616;
    position: fixed;
    z-index: 100; 
    border-bottom: 1px solid #7754A6; 
}

.nav-bar {
    left: 0;
    top: 0;
    padding: 1rem 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .nav-bar {
        justify-content: start;
        padding: 1rem;
    }
  }

.nav-bar .brand a {
    color: var(--white-color);
}

.nav-bar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .nav-list .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    transition: .3s ease all;
    cursor: pointer;
}

.nav-bar .nav-list .hamburger.active {
    transform: rotate(360deg);
}

.nav-bar .nav-list .hamburger.active .bar:before {
    top: 0;
    transform: rotate(45deg);
}

.nav-bar .nav-list .hamburger.active .bar:after {
    top: 0;
    transform: rotate(-45deg);
}

.nav-bar .nav-list .hamburger.active .bar {
    background-color: transparent;
}

.nav-bar .nav-list .hamburger .bar {
    width: 30px;
    height: 2px;
    background-color: var(--white-color);
    position: relative;
    display: flex;
}

.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    transition: .3s ease all;
}

.nav-bar .nav-list .hamburger .bar::before {
    top: 8px;
}

.nav-bar .nav-list .hamburger .bar::after {
    bottom: 8px;
}

.nav-bar .nav-list ul {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #7754A6;
    padding: 4rem 0;
    transform: translateY(-100%); 
    transition: .3s ease transform;
    text-align: center;
    z-index: -1;
}

@media (max-width: 700px) {
    .nav-bar .nav-list ul {
        height: auto;
    }
  }

.nav-bar .nav-list ul li {
    list-style: none;
    display: block;
    padding: none;
    position: relative;
}

@media (max-width: 700px) {
    .nav-bar .nav-list ul li  {
        padding: 1rem 0;
    }
  }

.nav-bar .nav-list ul li:hover:after {
    transform: translateX(-50%) scale(1);
}

@media (max-width: 700px) {
    .nav-bar .nav-list ul li:after {
        content: '';
        position: absolute;
        width: 5rem;
        height: .2rem;
        background-color: var(--white-color);
        left: 50%;
        transform: translateX(-50%) scale(0);
        bottom: 0;
        transition: .3s ease transform;
    }
}

.nav-bar .nav-list ul li a {
    font-weight: 400;
    font-size: 24px; 
    margin-left: 6rem;
}

@media (max-width: 700px) {
    .nav-bar .nav-list ul li a {
        margin-left: 0rem;
    }
}

.nav-bar .nav-list.open ul {
    transform: translateY(90px);
}


.home {
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/aDimencaoEterna.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

/* Footer Section */
    .footer {
        height: 7vh;
        width: 100%;
        background-color: #7754A6;
        color: var(--white-color);
        flex-direction: column;
        text-align: center;
        padding: 3rem;
    }

    .footer-bottom {
        text-align: center;
    } 

    .footer-bottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

    .footer-bottom p a {
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        opacity: .4;
        font-weight: 200;
    }
/* End Footer Section */

/* Responsive - Desktop / Tablet */
@media only screen and (min-width: 768px) {
    .nav-bar .nav-list .hamburger {
        display: none;
    }

    .nav-bar {
        width: 80%;
    }

    .nav-bar .nav-list ul {
        transform: translateX(0);
        position: initial;
        padding: 0;
        z-index: initial;
        background-color: transparent;
    }

    .nav-bar .nav-list ul li {
        display: inline-block;
    }
}
/* ---------- */
/* intro */

.alinhamento-intro {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.margin-logo {
    margin-bottom: 13px;
}

.logo-nome {
    width: 450px;
    height: 450px;
}

@media (max-width: 700px) {
    .logo-nome {
        width: 290px;
        height: 290px;
    }
}

/* ------------ */
/* lancamento */

.lancamento {
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alinhamento-lancamento {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.imagem-lancamento-container {
    margin-right: 1rem;
}

.lancamento-img {
    width: 480px;
    height: 600px;
}

.alinhamento-texto {
width: 490px;
}

.titulo {
    font-size: 24px;
    margin-bottom: 10px;
    color: #FFFFFF
}

.paragrafo {
    font-size: 16px;
    /* margin-bottom: 10px; */
    color: #FFFFFF;
    line-height: 25px;
}

@media (max-width: 700px) {
    .alinhamento-lancamento {
        flex-direction: column;
    }

    .lancamento-img {
        width: 370px;
        height: 360px;
    }

    .alinhamento-texto {
        margin-top: 10px;
        }
}

/* ------------ */
/* trailer */

.trailer {
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.alinhamento-trailer {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.video {
    border: 5px solid #7754A6;
    width: 900px;
    height: 520px;
    margin-top: 3rem;
}

@media (max-width: 500px) {
    .video {
        border: 5px solid #7754A6;
        width: 400px;
        height: 300px;
    }
  
  }

/* ------------ */
/* review */

.review {
    /* min-height: 100vh; */
    width: 100%;
    justify-content: center;
    display: flex;
    justify-content: center;
    /* justify-content: center; */
    flex-direction: column;

}

.alinhamento-review {
    margin-top: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* justify-content: space-evenly;  */
}

.estrelas {
    align-items: start;
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.card-review {
    width: 290px;
    height: 200px;
    text-align: start;
    align-items: center;
    background-color: #fff;
    margin-left: 10px;
    color: #000;
}

.alinhamento-text-card {
    margin: 10px;
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
}

.nome-review {
    font-size: 14px;
    font-weight: 500;
}


.texto-review {
margin-top: 20px;
margin-bottom: 20px;
font-size: 14px;
font-weight: 300;
}

@media (max-width: 700px) {
    .alinhamento-review {
        flex-direction: column;
    }
}

/* --------- */
/* comprar */

.comprar {
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alinhamento-comprar {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 4rem;
    text-align: center;
}

.comprar-card {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

.compra-experiencia {
    margin-top: 1.8rem;
    width: 200px;
}

.centralizar-botao-compra-opc {
    margin-top: 3rem;
    width: 300px;
    text-align: center;
}

.centralizar-botao-compra {
    width: 300px;
    text-align: center;
}

.vertical-line {
    border-left: 1px solid #7754A6; 
    height: 300px; 
    
}

@media (max-width: 700px) {
    .alinhamento-comprar {
        flex-direction: column;
    }
}

/* ---------- */

.autora {
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.autora-frase {
    text-align: center;
    width: 650px;
    margin-bottom: 7rem;
}

.autora-bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagem-autora {
    width: 390px;
    height: 600px;
}

.autora-text-container {
    /* margin-left: 10px; */
    text-align: start;
    width: 500px;
    font-size: 16px;
    /* margin-bottom: 10px;
    color: #FFFFFF; */
    line-height: 25px;
}

.redes-autora {
    display: flex;
    flex-direction: row;
}

.alinhamento-rede-individual {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.alinhamento-rede-individual h6{
   font-size: 14px;
   margin-left: 5px;
}

.titulo-autora-frase {
    font-size: 23px;
    margin-bottom: 10px;
    color: #FFFFFF
}



/* ----------------- */

.livro {
    min-height: 100vh;
    width: 100%;
    margin-bottom: 10rem;
}

.proximo-livro-capa {
    width: 390px;
    height: 600px;
}

.frase-proximo-livro {
    text-align: center;
    margin-bottom: 8rem;
}

.proximo-livro-alinhamento {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.proximo-livro-alinhamento2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: ; */
}

.proximo-livro-textual {
    text-align: start;
    width: 500px;
    font-size: 16px;
    line-height: 25px;
}

.alinhamento-nota-proximo-livro {
    display: flex;
    flex-direction: row;
}

.nota {
    margin-left: 10px;
    font-size: 19px;
}

.paragrafo {
    display: block;
    margin-top: 10px;
    /* margin-bottom: 20px; */
}

.spacebuttom {
    /* display: block; */
    margin-bottom: 2rem; /* Ajuste o valor conforme necessário */
}

.paragrafo .spacer {
    display: block;
    height: 15px; /* Ajuste o valor conforme necessário */
}